:root {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #f6f6f6;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.hero {

}

.hero > img {
    width: 35vw;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: auto;
   
}

.top-section {
    height: 35vh;
    font-size: 1.2rem;
}

.middle-section {
    height: 30vh;
    background-color: white;

}

.form-container {
    display: flex;
}

input {
    display: block;
}

.middle-section > p {
    font-size: 1.5rem;
}

.bottom-section {
    height: 30vh;
  
}

.footer {

    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

.fa-github {
    color: #000000;
    font-size: 24px;
  }
