:root {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #f6f6f6;
}



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;

}

.image-content {
    width: 40vw;
    height: 100vh;
    background-image: url(/space.jpg);
    background-size: cover;
}

.banner {
    text-align: center;
    margin-top: 20vh;
}

.banner > img {
    height: 250px;
}


.main-content {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
   
}

.top-section {
    font-size: 1.2rem;
    padding: 40px 40px;
}

.middle-section {
    padding: 10px 40px;
    background-color: white;

}

.form-container {
    display: flex;
    gap: 75px;
}

label {
    font-size: 0.7rem;
}

input {
    display: block;
    
}

.middle-section > p {
    font-size: 1.5rem;
    margin-top: 0;
}

.bottom-section {
   padding: 20px 40px;
   font-size: 0.8rem;
  
}

button {
    font-weight: 600;
    padding: 10px 50px;
    border: 2px solid #000000;
    border-radius: 5px;
    
}

a {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

.fa-github {
    color: #000000;
    font-size: 24px;
  }
